{% extends "base.html" %}

{% block title %}Entrar{% endblock %}

{% block content %}
  <h1>Entrar</h1>
  {% if form.errors %}
    <p>
      Seu nome de usuário e senha não coincidem.
      Por favor, tente novamente.
    </p>
  {% else %}
    <p>Por favor, use o formulário abaixo para entrar. Se você não tem uma conta, <a href="{% url "register" %}">registre-se aqui</a></p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Entrar"></p>
    </form>
    <p><a href="{% url "password_reset" %}">Esqueceu sua senha?</a></p>
  </div>
  <div class="social">
    <ul>
      <li class="facebook">
        <a href="{% url "social:begin" "facebook" %}">Entrar com Facebook</a>
      </li>
      <li class="twitter">
        <a href="{% url "social:begin" "twitter" %}">Entrar com Twitter</a>
      </li>
      <li class="google">
        <a href="{% url "social:begin" "google-oauth2" %}">Entrar com Google</a>
      </li>
    </ul>
  </div>
{% endblock %}